

{{#partial "content"}}
        <h4>Delete</h4>
        <p>You Have chosen to delete {{hero.name}}</p>
        <p>Be sure. This is irreversible</p>
        <a href="/heroes/{{hero.id}}/delete">Delete Hero</a>

{{/partial}}

{{> layout.hbs}}