
{{#partial"content"}}
    <div class="landing-page-container d-flex flex-column justify-content-around align-items-center">
        <h2 class="text-light" style="font-size: 60px;">Welcome</h2>

        <div class="intro text-primary opacity-75" style="color:#3fc301;">
            <p>In a world of chaos and strife, there is always need for super heroes:</p>

            <h5>Specials people for special tasks.</h5>

            <p>Enlist our superhero squad or recruit your own </p>
            <a class="btn btn-primary text-light rounded-circle" href="/hero-squad">
                <h3>checkout Hero Squad</h3>
            </a>

        </div>

    </div>

{{/partial}}

{{> layout.hbs}}
