
{{#partial"content"}}
    <style>
        .container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2 {
            margin-top: 3rem;
        }
        .intro {
            color: #6d29ae;
        }
        p {
            font-size: 50px;
            text-align: center;
            background-color: black;
            line-height: 1.2em;

            color:
        }
        a:hover {
            text-decoration: underline;
        }
    </style>

    <div class="container">

        <h2 class="text-light" style="font-size: 70px;">Welcome</h2>

        <div class="intro opacity-75">
            <p>In a world of chaos and strife,</p>
            <p>There is need for Super Heroes</p>
            <h3>Specials people for special tasks.</h3>
        </div>

            <a class="btn btn-primary text-light rounded-pill mt-3 p-2" href="/hero-squad">
                <h3>checkout Our Hero Squad</h3>
            </a>
    </div>

{{/partial}}

{{> layout.hbs}}
